.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  max-width: 650px;
  border: 1px solid #1e90ff;
  border-radius: 21px;
  padding: 12px;
}
.content {
  width: 100%;
  text-align: center;
  margin-top: 0;
}
.contentAnswered {
  @extend .content;

  filter: grayscale(80%);
}
.text {
  margin-top: 0;
}
.button {
  width: 50%;
  max-width: 200px;
  margin-right: 5px;
  border: 1px solid #1e90ff;
  border-radius: 21px;
  background-color: #9dc8f1;
}
.buttonFull {
  @extend .button;

  margin: 0 auto;
}
.submitted {
  @extend .button;

  pointer-events: none;
  border: 1px solid #55585c;
  background-color: #acb5bd;
}
