.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 12px;
  // max-width: 650px;
  border: 1px solid #1e90ff;
  border-radius: 21px;
}

%content-base {
  width: 100%;
  margin-top: 0;
  text-align: center;
}

.content {
  @extend %content-base;
}

.contentAnswered {
  @extend %content-base;

  filter: grayscale(80%);
}

.text {
  margin-top: 0;
}

%button-base {
  width: 50%;
  max-width: 200px;
  margin-right: 5px;
  border: 1px solid #1e90ff;
  border-radius: 21px;
  background-color: #9dc8f1;
}

.button {
  @extend %button-base;
}

.buttonFull {
  @extend %button-base;

  margin: 0 auto;
}
