.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.questions {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 85vw;
  scroll-snap-type: x mandatory;
  margin: 0 auto 10px;

  /* Remove scrollbar from view */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  } /* Chrome and other webkit browsers */

  @media (min-width: 1024px) {
    overflow-x: hidden;
    min-width: unset;
    scroll-snap-type: none;
  }
}

.imageContainer {
  position: relative;
  scroll-snap-align: center;

  &:first-of-type {
    margin-left: 20px;
  }

  &:last-of-type {
    margin-right: 20px;
  }
}

.imageIdContainer {
  margin: 0;
}

.imageId {
  position: relative;
  display: inline;
  border-bottom: 1px solid;
}

.image {
  z-index: -1;
  width: auto;
  height: 400px;
  margin: -15% 0 -20%;

  @media (min-width: 375px) {
    height: 500px;
  }

  @media (min-width: 425px) {
    height: 600px;
  }

  @media (min-width: 1024px) {
    height: 500px;
  }
}

.answered {
  width: 100%;
  text-align: center;
}

.answerSection {
  display: grid;
  grid-template-rows: 30px 40px 40px 40px;
  grid-template-columns: 1fr 30px 100px 40px 100px 1fr;
  width: 100%;
  margin: 0 auto 20px;
}

%title {
  grid-row-start: 1;
}

.titleLeft {
  @extend %title;

  grid-column-start: 3;
}

.titleMid {
  @extend %title;

  grid-column-start: 4;
}

.titleRight {
  @extend %title;

  grid-column-start: 5;
}

%input {
  margin: auto;
}

%first-input-row {
  grid-row-start: 2;
}

.inputImageId1 {
  @extend %first-input-row;

  grid-column-start: 2;
}

.inputLeast1 {
  @extend %first-input-row;
  @extend %input;

  grid-column-start: 3;
}

.inputMid1 {
  @extend %first-input-row;
  @extend %input;

  grid-column-start: 4;
}

.inputMost1 {
  @extend %first-input-row;
  @extend %input;

  grid-column-start: 5;
}

%second-input-row {
  grid-row-start: 3;
}

.inputImageId2 {
  @extend %second-input-row;

  grid-column-start: 2;
}

.inputLeast2 {
  @extend %second-input-row;
  @extend %input;

  grid-column-start: 3;
}

.inputMid2 {
  @extend %second-input-row;
  @extend %input;

  grid-column-start: 4;
}

.inputMost2 {
  @extend %second-input-row;
  @extend %input;

  grid-column-start: 5;
}

%third-input-row {
  grid-row-start: 4;
}

.inputImageId3 {
  @extend %third-input-row;

  grid-column-start: 2;
}

.inputLeast3 {
  @extend %third-input-row;
  @extend %input;

  grid-column-start: 3;
}

.inputMid3 {
  @extend %third-input-row;
  @extend %input;

  grid-column-start: 4;
}

.inputMost3 {
  @extend %third-input-row;
  @extend %input;

  grid-column-start: 5;
}
